.app-menu-bar {
    height: 5vh;
    margin: 0;
    padding: 0;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.app-container{
    display: flex;
    height: 93vh;
    max-height: 95vh;
    margin: 0;
    padding: 0;
}
.img-panel-container {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.editor-container{
    height: 100%;
    flex-grow: 1;
    max-height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}